# This is an example Caddyfile for a Covia server
#
# Most defaults are fine
# This is usually stored at /etc/caddy/Caddyfile
#
# Replace venue.example.com with your venue's domain


{
        email admin@example.com
}

venue.example.com {
        # Send requests to the venue server on 8080 (including HTTPS)
        reverse_proxy :8080
}
